<?xml version="1.0"?>
<!--
/**
 * A SEO library for getting the most out of Catalog data in Magento 2.
 *
 * @package   Iods\Optimize
 * @author    Rye Miller <rye@drkstr.dev>
 * @copyright Copyright © 2022, Rye Miller (https://ryemiller.io)
 * @license   See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">

  <module name="Iods_Optimize" setup_version="0.1.1" schema_version="0.1.1" data_version="0.1.1">

</config>
